<MudPaper Elevation="15">
    <MudText Typo="Typo.h6">Advance</MudText>
    <MudDivider Class="my-1" />
    <MudText>
        Advance refers simply to a single calculation done to progress a race. All factors are considered during every advance, think of PWR,
        tyre wear, RNG and so on. See 'Score calculation' below for more about this.
    </MudText>

    <MudText Typo="Typo.subtitle1">Score calculation</MudText>
    <MudDivider Class="my-1" />
    <MudText>
        Every advance, the following aspects impact the score
    </MudText>
    <MudSimpleTable>
        <thead>
            <tr>
                <th>Type</th>
                <th>How is it determined?</th>
                <th>Frequency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RNG</td>
                <td>Minimum and maximum RNG are set in season settings</td>
                <td>Every advance</td>
            </tr>
            <tr>
                <td>Qualifying bonus</td>
                <td>Set grid bonus * position from last</td>
                <td>First advance</td>
            </tr>
            <tr>
                <td>Mistakes</td>
                <td></td>
                <td>Every advance</td>
            </tr>
            <tr>
                <td>Tyre life</td>
                <td>Pace of tyre minus aggregrated wear</td>
                <td>Every advance</td>
            </tr>
            <tr>
                <td>Pitstop</td>
                <td>RNG value between what is set in season settings</td>
                <td>Active tyre wears out</td>
            </tr>
            <tr>
                <td>Power</td>
                <td>Total number of driver skill, car speed, engine power and any modifiers to race pace</td>
                <td>Every advance</td>
            </tr>
        </tbody>
    </MudSimpleTable>
</MudPaper>

@code {

}
