<MudPaper>
    <MudText Typo="Typo.h6">Modifiers</MudText>

    <MudText>
        e
    </MudText>

    <MudText Typo="Typo.subtitle1">Overview of existing values impacting the race</MudText>
    <MudSimpleTable>
        <thead>
            <tr>
                <th>Performance value</th>
                <th>Affected by</th>
                <th>Additional</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Qualifying pace</td>
                <td>
                    Traits,
                    driver skill,
                    car base,
                    car aero + chassis + powertrain (* track a/c/p modifiers),
                    engine power (* track power modifier)
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Qualifying bonus</td>
                <td>
                    grid position,
                    track qualifying modifier
                </td>
                <td>Only first advance</td>
            </tr>
            <tr>
                <td>Race pace</td>
                <td>
                    Traits,
                    driver skill,
                    car base,
                    car aero + chassis + powertraint (* track a/c/p modifiers),
                    engine power (* track power modifier),
                    tyre life,
                    tyre supplier pace,
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Attack</td>
                <td>
                    Traits,
                    driver attack
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Defense</td>
                <td>
                    Traits,
                    driver defense,
                    track modifier
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Reliability (3 variants)</td>
                <td>
                    Traits,
                    variant value,
                    weather
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Wear (min & max)</td>
                <td>
                    Traits,
                    tyre,
                    tyre supplier
                </td>
                <td>
                    The higher the number, the MORE wear you'll have. 
                    Be wary, changing the wear has an enormous impact on pace.
                </td>
            </tr>
            <tr>
                <td>Rng (min & max)</td>
                <td>
                    Traits,
                    season setting,
                    weather,
                </td>
                <td></td>
            </tr>
        </tbody>
    </MudSimpleTable>
</MudPaper>

@code {
}
