<MudText Typo="Typo.h6">Quick Start</MudText>
<MudDivider Class="my-2" />

<ol>
    <li>[OPTION]: modify configuration inside appsettings.json in root</li>
    <li>Add drivers (generator?)</li>
    <li>Add teams</li>
    <li>Add engines</li>
    <li>Add tracks (length!!!)</li>
    <li>Create a league</li>
    <li>Create a season</li>
    <li>Add participants through wizard</li>
    <li>Add races to season</li>
    <li>Start season!!!</li>
    <li>Done!!!</li>
</ol>