<h2>OnSet @Text</h2>
<p>@displayText</p>

@code {
    [Parameter] public string Text { get; set; }

    private string displayText = string.Empty;

    protected override void OnInitialized()
    {
        displayText = "Initialized: " + Text;
    }

    protected override void OnParametersSet()
    {
        displayText = "ParaSet: " + Text;
    }
}
