<MudText Typo="Typo.h6">Drivers</MudText>
<MudDivider Class="my-1" />

<MudText>
    Represents the people behind the racing wheel.
</MudText>
<br /><br/>
<MudText>In-season value grade</MudText>
<MudSimpleTable>
    <thead>
        <tr>
            <th>Aspect</th>
            <th>Bad</th>
            <th>Average</th>
            <th>Good</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Skill</td>
            <td>30</td>
            <td>40</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Reliability</td>
            <td>970</td>
            <td>980</td>
            <td>990</td>
        </tr>
    </tbody>
</MudSimpleTable>