::deep .battle-stat-cell-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
}

::deep .battle-stat-cell-wrapper .battle-divider {
    background-color: antiquewhite;
    padding: 8px 1px;
}

::deep .tyre-cell-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

::deep .race-footer-container {
    padding: 8px 4px 0 4px;
}
