<MudText Typo="Typo.h6">Blokes participating at races</MudText>
<MudDivider Class="my-1" />

<MudSimpleTable>
    <thead>
        <tr>
            <th>Skill</th>
            <th>Is that good?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>30</td>
            <td>Naw, that's shite</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Decent, nothin special tho</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Absolute legend. Master driver. Hero.</td>
        </tr>
    </tbody>
</MudSimpleTable>