@inherits LayoutComponentBase

<PageTitle>SimTECH</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="http://ergast.com/mrd/" target="_blank">Don't click me</a>
        </div>

        <article class="content px-4">
            <CascadingValue Name="NumberForEveryInternalComponent" Value="7">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>
