<MudGrid Spacing="1">
    <MudItem xs="12">
        <MudPaper Elevation="15" Class="pa-4">
            <MudStack Row="true">
                <MudText Typo="Typo.h3">Settings</MudText>
                <MudSpacer />
                <MudButton Variant="Variant.Outlined"
                           Color="Color.Tertiary"
                           Size="Size.Small"
                           StartIcon="@Icons.Material.Outlined.Edit"
                           OnClick="UpdateSeason"
                           Class="btn-md">
                    Edit
                </MudButton>
            </MudStack>
        </MudPaper>
    </MudItem>
    <MudItem xs="4">
        <MudPaper Elevation="15" Class="pa-4 mud-height-full">
            <MudText Typo="Typo.h5">Settings 1</MudText>
            <MudDivider Class="my-1" />
            <MudTextField @bind-Value="OverviewModel.Season.Year" Label="Year" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.MaximumDriversInRace" Label="MaximumDriversInRace" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.QualifyingFormat" Text="@($"{OverviewModel.Season.QualifyingFormat}")" Label="Qualifying format" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.QualifyingAmountQ2" Label="QualifyingAmountQ2" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.QualifyingAmountQ3" Label="QualifyingAmountQ3" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.QualifyingRNG" Label="QualifyingRNG" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.RunAmountSession" Label="RunAmountSession" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.GridBonus" Label="GridBonus" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.PointsPole" Label="PointsPole" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.PointsFastestLap" Label="PointsFastestLap" ReadOnly="true" />
        </MudPaper>
    </MudItem>
    <MudItem xs="4">
        <MudPaper Elevation="15" Class="pa-4 mud-height-full">
            <MudText Typo="Typo.h5">Settings 2</MudText>
            <MudDivider Class="my-1" />
            <MudTextField @bind-Value="OverviewModel.Season.RngMinimum" Label="RngMinimum" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.RngMaximum" Label="RngMaximum" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.PitMinimum" Label="PitMinimum" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.PitMaximum" Label="PitMaximum" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.PitCostSubtractCaution" Label="Subtract from pit when SC" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.MistakeMinimum" Label="MistakeMinimum" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.MistakeMaximum" Label="MistakeMaximum" ReadOnly="true" />
            <MudTextField @bind-Value="OverviewModel.Season.MistakeRolls" Label="MistakeRolls" ReadOnly="true" />
        </MudPaper>
    </MudItem>
    <MudItem xs="4">
        <MudPaper Elevation="15" Class="pa-4 mud-height-full">
            <MudText Typo="Typo.h5">Points per position</MudText>
            <MudDivider Class="my-1" />
            @if (OverviewModel.Season.PointAllotments?.Any() == true)
            {
                <MudSimpleTable Dense="true">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var allotment in OverviewModel.Season.PointAllotments)
                        {
                            <tr>
                                <td class="font-caption">@allotment.Position</td>
                                <td class="font-caption">@allotment.Points</td>
                            </tr>
                        }
                    </tbody>
                </MudSimpleTable>
            }
            else
            {
                <MudAlert Variant="Variant.Outlined" Severity="Severity.Error">
                    Where are the friggin point allotments then?
                </MudAlert>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter] private OverviewModel OverviewModel { get; set; }

    [Parameter] public EventCallback OnEditorOpen { get; set; }

    private string qualyFormat = string.Empty;

    protected override void OnInitialized()
    {
        qualyFormat = OverviewModel.Season.QualifyingFormat.ToString();
    }

    private async Task UpdateSeason() => await OnEditorOpen.InvokeAsync();
}
