<MudDialog>
    <TitleContent>
        <MudText>
            Add new tyre
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@model">
            <MudTextField T="string" @bind-Value="model.Name" Label="Name" Class="field-md" />
            <MudColorPicker @bind-Text="model.Colour" Label="Colour" Placeholder="Select colour" DisableAlpha="true" Class="field-md" />
            <MudNumericField T="int" @bind-Value="model.Length" Label="Length" Class="field-md" />
            <MudNumericField T="int" @bind-Value="model.Pace" Label="Pace" Class="field-md" />
            <MudStack Row="true" Justify="Justify.FlexStart" Spacing="4">
                <MudNumericField T="int" @bind-Value="model.WearMax" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.DoubleArrow" AdornmentColor="Color.Warning" Label="WearMax" Class="field-sm" />
                <MudNumericField T="int" @bind-Value="model.WearMin" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.DoubleArrow" AdornmentColor="Color.Warning" Label="WearMin" Class="field-sm" />
            </MudStack>
        </MudForm>
        <MudPaper Height="75px">
            <MudText Typo="Typo.h6">Preview</MudText>
            @if (!string.IsNullOrEmpty(model.Name))
            {
                <span class="tyre" style="border-color:@(model.Colour)">@model.Name.ElementAt(0)</span>
            }
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    protected MudDialogInstance? TyreDialog { get; set; }

    [Parameter]
    public Tyre? Tyre { get; set; } = new();

    private EditTyreModel model = new();

    protected override void OnInitialized()
    {
        if (Tyre != null)
            model = new EditTyreModel(Tyre);
    }

    private void Submit()
    {
        if (model.IsDirty)
        {
            var modTyre = model.Record;
            TyreDialog?.Close(DialogResult.Ok(modTyre));
        }
    }

    private void Cancel() => TyreDialog?.Cancel();
}
