@page "/drivers"
@layout SetupLayout
@inject DriverService DriverService

<PageTitle>Drivers</PageTitle>

<MudContainer>
    <h2>Drivers</h2>

    <MudDataGrid Items="@DriverNames">
        <Columns>
            <Column T="Driver" Field="Name" />
            <Column T="Driver" Field="Age" />
            <Column T="Driver" Field="Role" />
        </Columns>
    </MudDataGrid>
</MudContainer>

@code {
    private IEnumerable<Driver> DriverNames = new List<Driver>();

    protected override void OnInitialized()
    {
        DriverNames = DriverService.GetTestNames();
    }
}
