@page "/drivers"
@inject DriverService DriverService

<PageTitle>Drivers</PageTitle>

<h3>Drivers</h3>

<MudDataGrid Items="@DriverNames">
    <Columns>
        <Column T="Driver" Field="Name" />
        <Column T="Driver" Field="Age" />
        <Column T="Driver" Field="Role" />
    </Columns>
</MudDataGrid>

@code {
    private IEnumerable<Driver> DriverNames = new List<Driver>();

    protected override void OnInitialized()
    {
        DriverNames = DriverService.GetTestNames();
    }
}
