.lil-fucko {
    margin-left: 5px;
}

.top-right {
    inset: auto auto calc(100% - 4px) calc(100% - 4px);
}

.dot {
    border-radius: 50%;
    height: 9px;
    min-width: 0;
    padding: 0;
    width: 9px;
}

.badger {
    border-radius: 10px;
    font-size: 12px;
    height: 20px;
    letter-spacing: 0;
    min-width: 20px;
    padding: 4px 6px;
    pointer-events: auto;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: auto;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    white-space: nowrap;
}
