.dot {
    border-radius: 50%;
    height: 9px;
    min-width: 9px;
    padding: 0;
    width: 9px;
}

.badger {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: auto;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    white-space: nowrap;
}
