#driver-graphic {
    margin-top: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    border-bottom-right-radius: 15px;
    width: 890px;
    height: 105px;
}

    #driver-graphic #position {
        background-color: white;
        color: black;
        width: 91px;
        height: 91px;
        margin: 7px;
        margin-right: 0;
        line-height: 91px;
        vertical-align: middle;
        text-align: center;
        font-size: 48px;
        border-bottom-right-radius: 15px;
    }

    #driver-graphic #divider {
        background-color: #28E8EE;
        width: 9px;
        margin: 17px 12px;
    }

    #driver-graphic #details {
        margin-top: 17px;
        margin-bottom: 17px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

        #driver-graphic #details #name {
            font-size: 2.5em;
            margin-top: -10px;
        }

            #driver-graphic #details #name #lastName {
                font-family: "F1Bold";
            }

        #driver-graphic #details #team {
            margin-top: auto;
            margin-bottom: -5px;
            font-size: 28px;
        }

    #driver-graphic #extra {
        margin-top: 17px;
        margin-bottom: 17px;
        color: #28E8EE;
        text-align: center;
        margin-right: 30px;
    }

        #driver-graphic #extra #number {
            font-size: 3em;
            margin-top: -10px;
        }

        #driver-graphic #extra #tla {
            font-size: 1.5em;
        }

.eliminated {
    background-color: #870019 !important;
    color: white !important;
}
