<MudSelect @bind-Value="@_selectedCountry" Label="Select a country" Variant="Variant.Outlined">
    @foreach (var country in CountrySelectItems)
    {
        <MudSelectItem Value="@country.Code">
            <span>@country.Flag @country.Name</span>
        </MudSelectItem>
    }
</MudSelect>

@code {
    private string _selectedCountry { get; set; } = string.Empty;
    private Country[] Countries = (Country[])Enum.GetValues(typeof(Country));

    private List<CountrySelectItem> CountrySelectItems => Countries
        .Select(e => new CountrySelectItem
            {
                Code = e.ToString(),
                Name = e.GetDescription(),
                Flag = e.ToString().CountryCodeToEmoji(),
            })
        .ToList();

    public class CountrySelectItem
    {
        public string Code { get; set; } = string.Empty;
        public string Name { get; set; } = string.Empty;
        public string Flag { get; set; } = string.Empty;
    }
}
