<span class="smollest-of-styles" style="@_styles"></span>

@code {
    [Parameter] public string? Colour { get; set; }

    private string _styles
    {
        get
        {
            var colour = Colour ?? Generals.DefaultColour;
            return $"background-color: {colour};";
        }
    }
}
