<span class="@flagIconClass">@flagLabel</span>

@code {
    [Parameter]
    public string Code { get; set; } = string.Empty;

    [Parameter]
    public FlagSize Size { get; set; } = FlagSize.Normal;

    [Parameter]
    public bool IncludeName { get; set; } = false;

    [Parameter]
    public string Class { get; set; } = string.Empty;

    private string flagSize
    {
        get
        {
            switch (this.Size)
            {
                case FlagSize.Small:
                    return "flag-sm";
                case FlagSize.Large:
                    return "flag-lg";
                default:
                    return "flag-md";
            }
        }
    }

    private string flagIconClass
    {
        get
        {
            return $"flag {flagSize}";
        }
    }

    private string flagLabel
    {
        get
        {
            var flagString = Code.CountryCodeToEmoji();

            if (this.IncludeName && Enum.TryParse(this.Code, out Country countryEnum))
            {
                flagString += $" {countryEnum.GetDescription()}";
            }

            return flagString;
        }
    }
}
