@inherits LayoutComponentBase
@layout MainLayout

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudNavMenu>

    </MudNavMenu>

    <main>
        @Body
    </main>
</MudContainer>

@code {

}
