@page "/login"
@inject SimAuthenticationStateProvider SimAuthenticationStateProvider
@attribute [AllowAnonymous]

<h3>Login</h3>
<button type="button" class="btn btn-primary" @onclick=LoginAsync>Login</button>

@if (!string.IsNullOrEmpty(notification))
{
    <p>@notification</p>
}

@code {
    private string notification = string.Empty;

    public async Task LoginAsync()
    {
        var exampleName = "belial";
        var examplePass = "theredking";

        await SimAuthenticationStateProvider.LoginAsync(exampleName, examplePass);

        notification = "Goed ingelogd, jongen!";
    }
}
