@inherits LayoutComponentBase
@inject SimAuthenticationStateProvider SimAuthenticationStateProvider

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>SimTECH</PageTitle>

@*
    <div class="top-row px-4">
            <span style="color:red;">@notification</span>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a href="" @onclick="LogoutAsync">Logout</a>
            <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
*@

<MudLayout>
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@_drawerOpen" Fixed="false" Variant="DrawerVariant.Mini" OpenMiniOnHover="true">
            <NavMenu />
        </MudDrawer>
        <div class="d-flex justify-center align-center mud-height-full">
            <MudButton OnClick="@DrawerToggle" Color="Color.Primary">Toggle</MudButton>
        </div>
    </MudDrawerContainer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private string notification = string.Empty;
    bool _drawerOpen = true;

    async Task LogoutAsync()
    {
        await SimAuthenticationStateProvider.LogoutAsync();

        notification = "Logged out!";
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}