::deep .header-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::deep .trait-assignment-menu-bar {
    width: 100%;
}

.setting-column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
