<MudStack Class="mud-height-full">
    <MudStack Spacing="0">
        <MudTooltip Text="For whom the development is run">
            <MudText Typo="Typo.subtitle1">Entrant</MudText>
        </MudTooltip>
        <MudChipSet SelectedChipChanged="EntrantChipChanged" Mandatory="true">
            <MudChip Color="Color.Primary" Value="Entrant.Driver" Default="true">Driver</MudChip>
            <MudChip Color="Color.Primary" Value="Entrant.Team">Team</MudChip>
            <MudChip Color="Color.Primary" Value="Entrant.Engine">Engine</MudChip>
        </MudChipSet>
    </MudStack>

    <div>
        <MudDivider />
    </div>

    <MudStack Spacing="0">
        <MudTooltip Text="Which aspect is going to be developed">
            <MudText Typo="Typo.subtitle1">Target</MudText>
        </MudTooltip>
        <MudChipSet @ref="chipSet" SelectedChipChanged="TargetChipChanged" Mandatory="true">
            <MudChip Color="Color.Secondary" Value="Aspect.Reliability" Default="true">Reliability</MudChip>

            @if (_activeEntrant == Entrant.Driver)
            {
                <MudChip Color="Color.Secondary" Value="Aspect.Skill">@Aspect.Skill.ReadableAspect()</MudChip>
                <MudChip Color="Color.Secondary" Value="Aspect.Attack">Attack</MudChip>
                <MudChip Color="Color.Secondary" Value="Aspect.Defense">Defense</MudChip>
            }
            else if (_activeEntrant == Entrant.Team)
            {
                <MudChip Color="Color.Secondary" Value="Aspect.BaseCar">@Aspect.BaseCar.ReadableAspect()</MudChip>
                <MudChip Color="Color.Secondary" Value="Aspect.Aero">Aero</MudChip>
                <MudChip Color="Color.Secondary" Value="Aspect.Chassis">Chassis</MudChip>
                <MudChip Color="Color.Secondary" Value="Aspect.Powertrain">Powertrain</MudChip>
            }
            else if (_activeEntrant == Entrant.Engine)
            {
                <MudChip Color="Color.Secondary" Value="Aspect.Engine">@Aspect.Engine.ReadableAspect()</MudChip>
            }
        </MudChipSet>
    </MudStack>

    <div>
        <MudDivider />
    </div>

    <MudStack Spacing="0">
        <MudTooltip Text="How the development ranges are determined">
            <MudText Typo="Typo.subtitle1">Type</MudText>
        </MudTooltip>
        <MudChipSet SelectedChipChanged="TypeChipChanged" Mandatory="true">
            <MudChip Color="Color.Tertiary" Value="Quantifier.Range" Default="true">Range</MudChip>
            <MudChip Color="Color.Tertiary" Value="Quantifier.Set">Set</MudChip>
            <MudChip Color="Color.Tertiary" Value="Quantifier.Direct">Direct</MudChip>
        </MudChipSet>
    </MudStack>

    @if (_selectedType == Quantifier.Range)
    {
        <div>
            <MudDivider />
        </div>

        <MudStack Spacing="0">
            <MudText Typo="Typo.subtitle1">Development range</MudText>
            <MudNumericField T="int" Label="Min" ValueChanged="ApplyMinRange" Class="field-sm" />
            <MudNumericField T="int" Label="Max" ValueChanged="ApplyMaxRange" Class="field-sm" />
        </MudStack>
    }
</MudStack>

@code {
    private Entrant _activeEntrant = Entrant.Driver;
    private Quantifier _selectedType = Quantifier.Range;
    private Aspect _selectedTarget = Aspect.Reliability;

    private MudChipSet chipSet;

    private async Task EntrantChipChanged(MudChip? entrantChip)
    {
        if (entrantChip == null)
            return;

        _activeEntrant = (Entrant)entrantChip.Value;

        //await ReloadDeveloped(_activeEntrant);
        //ApplyCommon();
    }

    private void TypeChipChanged(MudChip? typeChip)
    {
        if (typeChip == null)
            return;

        _selectedType = (Quantifier)typeChip.Value;
        //ApplyCommon();
    }

    private async Task TargetChipChanged(MudChip? devChip)
    {
        if (devChip == null)
            return;

        _selectedTarget = (Aspect)devChip.Value;
        //await ReloadDeveloped(_activeEntrant);
        //ApplyCommon();
    }

    private void ApplyMinRange(int newMin)
    {
        //currentMin = newMin;

        //foreach (var entrant in DevelopedEntrants)
        //    entrant.Min = newMin;
    }

    private void ApplyMaxRange(int newMax)
    {
        //currentMax = newMax;

        //foreach (var entrant in DevelopedEntrants)
        //    entrant.Max = newMax;
    }
}
