@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Blazor more like Pleesor, please clap." />

<Counter IncrementBy="5"/>

Counting up is definitely a work in progress, haha lol.