<MudText>Blokes participating during races</MudText>

<MudSimpleTable>
    <thead>
        <tr>
            <th>Skill</th>
            <th>Is that good?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20</td>
            <td>Naw, that's shite</td>
        </tr>
    </tbody>
</MudSimpleTable>