@inherits SaturnComponentBase

<div @attributes="UserAttributes" class="@Class" style="@Style">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
