@inject SeasonEntrantService EntrantService
@inject IDialogService DialogService

<h3>SeasonTeams</h3>

<MudDataGrid T="SeasonTeam" Items="TeamData">
    <Columns>
        <PropertyColumn Property="e => e.Principal" />
        <PropertyColumn Property="e => e.Name" />
        <PropertyColumn Property="e => e.Points" />
    </Columns>
</MudDataGrid>

@code {
    [CascadingParameter] public Season Season { get; set; }

    private List<SeasonTeam> TeamData = new();

    protected override async Task OnInitializedAsync()
    {
        TeamData = await EntrantService.GetSeasonTeams(Season.Id);
    }
}
