@inject SeasonEntrantService EntrantService

<h3>SeasonTeams</h3>

<MudDataGrid T="SeasonTeam" Items="TeamData">
    <Columns>
        <Column T="SeasonTeam" Field="Principal" />
        <Column T="SeasonTeam" Field="Name" />
        <Column T="SeasonTeam" Field="Points" />
    </Columns>
</MudDataGrid>

@code {
    [CascadingParameter] public Season Season { get; set; }

    private List<SeasonTeam> TeamData = new();

    protected override async Task OnInitializedAsync()
    {
        TeamData = await EntrantService.GetSeasonTeams(Season.Id);
    }
}
